<footer>
    <div class="footer-box">
        <div >
            <div class="brand-box">
                <a href="/jobhelper" class="navbar-brand">
                    <span>
                        <i class="fa-solid fa-user-tie"></i> 
                        <span class="brand-char">J</span>ob<span class="brand-char">H</span>elper
                    </span>
                </a>
            </div>
            <div class="social-box">
                <b>Connect With Us</b>
                <ul>
                    <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/gaykenitin975/"><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/nitin-gayke92"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://github.com/nitingayke"><i class="fa-brands fa-square-github"></i></a></li>
                </ul>
            </div>
            <hr>
            <p class="copyright">All rights reserved &copy; <%= (new Date().toString().split(" ")[3]) %> info Edg (india) LTD.</p>
        </div>
        <ul class="footer-list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Privacy &amp; Policy</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Report Issue</a></li>
            <li><a href="#">Safety</a></li>
            <li><a href="#">Credits</a></li>
            <li><a href="#">Complaints</a></li>
            <li><a href="#">Partnerships</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Companies</a></li>
            <li><a href="#">Send Feedback</a></li>
            <li><a href="#">Freelancing</a></li>
            <li><a href="#">Call Center</a></li>
        </ul>
        <div class="footer-download">
            <h3><i class="fa-solid fa-download"></i>Download App</h3>
            <p>Get Jop Updates With Us</p>
            
            <div class="download-card">
                <i class="fa-brands fa-apple"></i>
                <span>
                    <p>GET ON</p>
                    <h4>Google Play</h4>
                </span>
            </div>
            <div class="download-card">
                <i class="fa-brands fa-google-play"></i>
                <span>
                    <p>GET ON</p>
                    <h4>App Store</h4>
                </span>
            </div>
        </div>
    </div>
    <div class="footer-box2">
        <div class="">

        </div>
    </div>
</footer>