
<div class="container-fluids">
    <!-- left side bar -->
    <button class="sidebar-btn btn-hover" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample">
        <i class="fa-solid fa-bars"></i>
    </button>

    <div class="offcanvas offcanvas-start headerside-bar1" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header border-bottom">
            <a href="/jobhelper" class="navbar-brand" id="offcanvasExampleLabel">
                <span><i class="fa-solid fa-user-tie"></i> <span class="brand-char">J</span>ob<span
                        class="brand-char">H</span>elper</span>
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <section class="offcanvas-body header-side-bar">

            <div class="accordion" id="accordionExample">
                <div class="accordion-item ">
                    <h2 class="accordion-header">
                        <button class="accordion-button no-focus-border" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Employee
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show"
                        data-bs-parent="#accordionExample">
                        <ul class="accordion-body">
                            <li class="showMessage" ><a href="">Post Job</a></li>
                            <li class="showMessage" ><a href="">Hire Freshers</a></li>
                            <li class="showMessage" ><a href="">Hire Work Experience</a></li>
                        </ul>
                        <hr>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-focus-border" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Student
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <ul class="accordion-body">
                            <li class="queryMessage" data-query-item="Web Development Jobs"><a href="">Web Development Jobs</a></li>
                            <li class="queryMessage" data-query-item="App Development Jobs"><a href="">App Development Jobs</a></li>
                            <li class="queryMessage" data-query-item="Machine Learning Jobs"><a href="">Machine Learning Jobs</a></li>
                            <li class="queryMessage" data-query-item="Cyber Security Jobs"><a href="">Cyber Security Jobs</a></li>
                            <li class="queryMessage" data-query-item="Artificial intelligence Jobs"><a href="">Artificial intelligence Jobs</a></li>
                            <li class="queryMessage" data-query-item="IT Jobs"><a href="">IT Jobs</a></li>
                            <li class="queryMessage" data-query-item="Cloud Engineer"><a href="">Cloud Engineer</a></li>
                            <li class="queryMessage" data-query-item="Blockchain Developer"><a href="">Blockchain Developer</a></li>
                            <li class="queryMessage" data-query-item="Software Engineer"><a href="">Software Engineer</a></li>
                            <li class="queryMessage" data-query-item="Product Manager"><a href="">Product Manager</a></li>
                            <li class="queryMessage" data-query-item=""><a href="" style="color: blue; text-decoration: underline;">More<i
                                        class="fa-solid fa-angles-right"></i></a></li>
                        </ul>
                        <hr>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-focus-border" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            Career Opportunities
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <ul class="accordion-body">
                            <li class="queryMessage" data-query-item="Internship"><a href="">Internship</a></li>
                            <li class="queryMessage" data-query-item="hackathons"><a href="">hackathons</a></li>
                            <li ><a href="https://in.linkedin.com/jobs/project-based-part-time-jobs">Project-Based Work</a></li>
                            <li ><a href="https://summerofcode.withgoogle.com/">GSoC</a></li>
                            <li ><a href="https://www.google.com/search?q=open+source">Open Source</a></li>
                            <li ><a href="https://www.google.com/search?q=best+online+certification+courses+for+computer+science+engineers">Online Certifications</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="job-lists">
                <li class="queryMessage" data-query-item="Part-time jobs"><a href="">Part-time jobs</a></li>
                <li class="queryMessage" data-query-item="Full-time jobs"><a href="">Full-time jobs</a></li>
                <li class="queryMessage" data-query-item="Remote jobs"><a href="">Remote jobs</a></li>
                <li class="showMessage"><a href="">More<i class="fa-solid fa-angles-right" style="color: blue;"></i></a></li>
            </ul>

        </section>
    </div>

    <a href="/JobHelper" class="navbar-brand">
        <span class="navbar-brand-content">
            <i class="fa-solid fa-user-tie"></i> 
            <span class="brand-char" style="margin-left: -0.2rem;">J</span>ob<span class="brand-char">H</span>elper
        </span>
    </a>

    <form method="get" action="/JobHelper/search" class="search-form">
        <div class="input-group header-input-group">
            <input name="query" type="text" class="form-control no-focus-border pe-0" placeholder="Search [enter username]">
            <button type="reset" class="input-reset-btn input-group-text ps-0"><i class="fa-solid fa-xmark"></i></button>
            <button type="submit" class="input-search-btn input-group-text"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
    <div class="navbar-links">
    
        <button type="button" class="new-posts-btn d-flex align-items-center me-3 border rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <p class="new-posts"><i class="fa-solid fa-plus"></i>Post</p>
        </button>
        <div type="button" class="header-login-btn position-relative me-3">
            <img src="<%= loginUser.profile.profilePicture.url %>" alt="" class="user-image" id="user-image">
            <span id="notification-box" class="position-absolute start-100 top-0 ms-1 mt-2 translate-middle badge rounded-pill bg-danger">
                9+
            </span>
        </div>
    </div>
    <div class="user-profile-container hidden-box">
        <ul class="list-unstyled ps-0 mb-0">
            
            <a href="/JobHelper/user/<%= loginUser._id %>"><li><i class="fa-solid fa-user"></i>Profile</li></a>
            <a href=""><li class="showMessage"><i class="fa-solid fa-bell"></i> Notifications <span class=" badge text-bg-danger">9+</span></li></a>
            <li>
                <i class="fa-solid fa-magnifying-glass"></i>
                <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#searchjobs">
                    Search Jobs</button>
            </li>
            <li>
                <i class="fas fa-bullhorn"></i>
                <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#announce-job">
                    Announce New Job</button>
            </li>
            
            <a href=""><li class="showMessage"><i class="fa-solid fa-circle-question"></i> Help</li></a>
            <a href=""><li class="showMessage"><i class="fa-solid fa-key"></i> Change Password</li></a>
            <a href="/JobHelper/userListings/logout"><li><i class="fa-solid fa-sign-out-alt"></i> Logout</li></a>
            
            <li>
                <i class="fa-solid fa-trash-alt"></i> 
                <button type="button" class="border-0 bg-transparent width-100" data-bs-toggle="modal" data-bs-target="#delete-profile-warning">Delete Account</button>
            </li>
            
            <a href=""><li><i class="fa-solid fa-cog"></i> Setting</li></a>
        </ul>
    </div>
</div>



