
<div class="container-fluids">
    <!-- left side bar -->
    <button class="sidebar-btn btn-hover" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample">
        <i class="fa-solid fa-bars"></i>
    </button>

    <div class="offcanvas offcanvas-start headerside-bar1" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header border-bottom">
            <a href="/jobhelper" class="navbar-brand" id="offcanvasExampleLabel">
                <span><i class="fa-solid fa-user-tie"></i> <span class="brand-char">J</span>ob<span
                        class="brand-char">H</span>elper</span>
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <section class="offcanvas-body header-side-bar">

            <div class="accordion" id="accordionExample">
                <div class="accordion-item ">
                    <h2 class="accordion-header">
                        <button class="accordion-button no-focus-border" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Employee
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show"
                        data-bs-parent="#accordionExample">
                        <ul class="accordion-body">
                            <li><a href="">Post Job</a></li>
                            <li><a href="">Hire Freshers</a></li>
                            <li><a href="">Hire Work Experience</a></li>

                        </ul>
                        <hr>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-focus-border" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Student
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <ul class="accordion-body">
                            <li><a href="">Web Development Jobs</a></li>
                            <li><a href="">App Development Jobs</a></li>
                            <li><a href="">Machine Learning Jobs</a></li>
                            <li><a href="">Cyber Security Jobs</a></li>
                            <li><a href="">Artificial intelligence Jobs</a></li>
                            <li><a href="">IT Jobs</a></li>
                            <li><a href="">Cloud Engineer</a></li>
                            <li><a href="">Blockchain Developer</a></li>
                            <li><a href="">Software Engineer</a></li>
                            <li><a href="">Product Manager</a></li>
                            <li><a href="" style="color: blue; text-decoration: underline;">More<i
                                        class="fa-solid fa-angles-right"></i></a></li>
                        </ul>
                        <hr>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-focus-border" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            Career Opportunities
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <ul class="accordion-body">
                            <li><a href="">Internship</a></li>
                            <li><a href="">hackathons</a></li>
                            <li><a href="">Project-Based Work</a></li>
                            <li><a href="">GSoC</a></li>
                            <li><a href="">Open Source</a></li>
                            <li><a href="">Online Certifications</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="job-lists">
                <li><a href="">Part-time jobs</a></li>
                <li><a href="">Full-time jobs</a></li>
                <li><a href="">Remote jobs</a></li>
                <li><a href="">More<i class="fa-solid fa-angles-right" style="color: blue;"></i></a></li>
            </ul>

        </section>
    </div>

    <a href="/JobHelper" class="navbar-brand">
        <span><i class="fa-solid fa-user-tie"></i> <span class="brand-char">J</span>ob<span
                class="brand-char">H</span>elper</span>
    </a>

    <form class="search-form">
        <div class="input-group header-input-group">
            <input type="text" class="form-control no-focus-border" placeholder="Search">
            <button type="reset" class="input-group-text "><i class="fa-solid fa-xmark"></i></i></button>
            <button type="submit" class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
    <div class="navbar-links">
        
        <span type="button" class="header-checkbox-btn">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </span>
        
        <ul class="header-content list-unstyled">
            <a href="" class="hover-border-bottom2"><li>Jobs</li></a>
            <a href="" class="hover-border-bottom2"><li>Companies</li></a>
            <a href="" class="hover-border-bottom2"><li>About</li></a>
        </ul>
        <div type="button" class="header-login-btn">
            <img src="<%= loginUser.profile.profilePicture %>" alt="" class="user-image">
        </div>
        <button type="button" class="new-posts-btn d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <p class="new-posts hover-border-bottom2"><i class="fa-solid fa-plus"></i>Post</p>
        </button>
    </div>
    <div class="user-profile-container hidden-box">
        <ul class="list-unstyled ps-0 mb-0">
        
            <a href="/JobHelper/user/<%= loginUser._id %>"><li><i class="fa-solid fa-user"></i> Profile</li></a>
            <a href=""><li><i class="fa-solid fa-pen-to-square"></i>Update Information</li></a>
            <a href=""><li><i class="fa-solid fa-bell"></i> Notifications</li></a>
            <a href=""><li><i class="fa-solid fa-circle-question"></i> Help</li></a>
            <a href=""><li><i class="fa-solid fa-key"></i> Change Password</li></a>
            <a href="/JobHelper/userListings/logout"><li><i class="fa-solid fa-sign-out-alt"></i> Logout</li></a>
            
            <form action="/JobHelper/userListings/removeaccount?_method=DELETE" method="post" class="w-100">
                <li>
                    <i class="fa-solid fa-trash-alt"></i> 
                    <button type="submit" class="border-0 bg-transparent width-100">Delete Account</button>
                </li>
            </form>
            
            <a href=""><li><i class="fa-solid fa-cog"></i> Setting</li></a>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg box-shadow">
        <div class="modal-content">
            <div class="modal-header">
                <img src="<%= loginUser.profile.profilePicture %>" alt="" class="user-image me-3">
                <h1 class="modal-title fs-2 " id="staticBackdropLabel"><b>New Post</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" action="/JobHelper/newPost/<%= loginUser._id %>" class="needs-validation" novalidate>
                <div class="modal-body pb-0">
                    <textarea placeholder="Enter Text" name="title" rows="5" required></textarea >
                    <div class="invalid-feedback">
                        Please Enter Text    
                    </div>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-image text-info"></i></span>
                        <input type="url" class="form-control no-focus-border p-0" placeholder="Enter Image URL" name="imageURL" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><b>Cancel</b></button>
                    <button type="submit" class="btn btn-primary" ><b>Post</b> <i class="fa-solid fa-paper-plane text-body"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
