.fa-solid, .fa-regular{
    color: #828282 ;
}
.comment-delete-btn i{
    color: lightgray;
}
.comment-delete-btn i:hover{
    color: red;
}
.hidden-box{
    display: none;
}
.visible-box{
    display: block;
}
.user-profile-container{
    position: absolute;
    top: 3rem;
    right: 1.5rem;
    overflow: auto !important;
    z-index: 150;
}
.user-profile-container i{
    color: gray;
}
.user-profile-container ul, .post-edit-box ul{
   width: fit-content;
   height: fit-content;
   padding: 1rem !important;
   border-radius: 0.3rem;
   background-color: rgba(255, 255, 255);
}
.user-profile-container li, .post-edit-box li{
    background-color: rgb(203 203 203);
    color: gray;
    margin: 0.2rem;
    padding: 0.3rem 2rem 0.3rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.user-profile-container li:hover, .post-edit-box li:hover{
    padding-left: 1.2rem;
    padding-right: 1.8rem;
    background-color: rgba(0, 0, 0, 0.42);
    color: rgb(255, 255, 255) !important;
}
.user-profile-container li:hover i, .post-edit-box li:hover i{
    color: rgb(0, 255, 251) !important;
}
.user-profile-container li button{
    color: gray;
}
.user-profile-container li:hover button{
    color: rgb(0, 0, 0);
}
.post-edit-box{
    position: absolute !important;
}
/* ----------post form update---------- */
.edit-heading{
    font-family: monospace;
    color: green;
    text-shadow: 0 0 1px;
}
.edit-heading i{
    color: rgb(255, 132, 0);
}
.post-edit-textarea{
    border-top: 3rem solid #e2e2e2 !important;
    border-bottom: 3rem solid #e2e2e2 !important;
    border-left: 2px solid #e2e2e2 !important;
    outline: none;
}
textarea::-webkit-scrollbar{
    background-color: #e2e2e2;
    width: 5px;
}
textarea::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
}
.edit-post-title{
    position: absolute;
    font-weight: 600;
    padding: 0.5rem;
    font-size: 1.4rem;
    color: green;
}
.edit-input-url{
    border: 2px solid #e2e2e2;
}
.alert{
    margin: 0 !important;
}
.flashError{
    width: 100% !important;
}
.review-form{
    border: 1px solid goldenrod;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.card-hover:hover{
    box-shadow: 0 0 10px #76767691, inset 0 0 50px #ffffff96;
    margin: 0.3rem;
}
/* edit user profile */
.edit-profile-header{
    align-items: center !important;
}
.edit-user-profile img{
    height: 13rem !important;
    box-shadow: inset 0 0 20px lightsteelblue, 0 0 20px lightslategray;
    
}
.edit-profile-header h1{
    font-size: 4rem;
    padding: 0.3rem 1rem;
    box-shadow: inset 0 0 20px lightsteelblue, 0 0 20px lightslategray;
}
/* profile edit */
.profile-edit-box{
    margin-bottom: 3rem;
}
.profile-edit-content{
    margin-bottom: 0;
    padding: 0;
}
.profile-edit-content li{
    padding: 0.3rem 1rem;
    margin:  0.2rem 0;
    font-weight: 600;
    color: gray;
}
.profile-edit-content li.active{
    color: blue;
    font-weight: 600;
}
.profile-edit-content i{
    color: gray;
}
.profile-edit-content li:hover {
    background-color: rgb(0, 0, 255);
    color: white;
}
.profile-edit-content li:hover i{
    color: white;
}
.profile-edit-section{
    height: 23rem !important;
    overflow-y: auto;
}
.profile-edit-box button{
    width: 100%;
}
@media (max-width:990px) {
    .profile-edit-content{
        display: flex;
        width: 100% !important;
        overflow-x: auto;
    }
    .profile-edit-content li{
        margin: 0 0.2rem;
    }
    .profile-edit-section{
        padding: 0.5rem 0;
        border-top: 0 !important;
    }
}
.profile-edit-content::-webkit-scrollbar{
    display: none;
}
/* posted job header */
.job-post-img{
    height: 20rem !important;
    width: 100%;
}

