.fa-solid, .fa-regular{
    color: #828282 ;
}
.comment-delete-btn i{
    color: lightgray;
}
.comment-delete-btn i:hover{
    color: red;
}
.hidden-box{
    display: none;
}
.visible-box{
    display: block;
}
.user-profile-container{
    position: absolute;
    top: 2.8rem;
    right: 1.5rem;
    overflow: auto !important;
    z-index: 150;
}
.user-profile-container i{
    color: gray;
}
.user-profile-container ul, .post-edit-box ul{
   width: fit-content;
   height: fit-content;
   padding: 1rem !important;
   border-radius: 0.3rem;
   background-color: rgba(255, 255, 255);
}
.user-profile-container li, .post-edit-box li{
    background-color: rgb(203 203 203);
    color: gray;
    margin: 0.2rem;
    padding: 0.3rem 2rem 0.3rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.user-profile-container li:hover, .post-edit-box li:hover{
    padding-left: 1.2rem;
    padding-right: 1.8rem;
    background-color: rgba(0, 0, 0, 0.42);
    color: rgb(255, 255, 255) !important;
}
.user-profile-container li:hover i, .post-edit-box li:hover i{
    color: rgb(0, 255, 251) !important;
}
.user-profile-container li button{
    color: gray;
}
.user-profile-container li:hover button{
    color: rgb(0, 0, 0);
}
.post-edit-box{
    position: absolute !important;
}
/* ----------post form update---------- */
.edit-heading{
    font-family: monospace;
    color: green;
    text-shadow: 0 0 1px;
}
.edit-heading i{
    color: rgb(255, 132, 0);
}
.post-edit-textarea{
    border-top: 3rem solid #e2e2e2 !important;
    border-bottom: 3rem solid #e2e2e2 !important;
    border-left: 2px solid #e2e2e2 !important;
    outline: none;
}
textarea::-webkit-scrollbar{
    background-color: #e2e2e2;
    width: 5px;
}
textarea::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
}
.edit-post-title{
    position: absolute;
    font-weight: 600;
    padding: 0.5rem;
    font-size: 1.4rem;
    color: green;
}
.edit-input-url{
    border: 2px solid #e2e2e2;
}
.alert{
    margin: 0 !important;
}
.flashError{
    width: 100% !important;
}
.review-form{
    border: 1px solid goldenrod;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.card-hover:hover{
    box-shadow: inset 0 0 20px #c6c6c6c6;
}
/* edit user profile */
.edit-profile-header{
    align-items: center !important;
}
.edit-user-profile img{
    height: 13rem !important;
    box-shadow: inset 0 0 20px lightsteelblue, 0 0 20px lightslategray;
    
}
.edit-profile-header #edit-title{
    font-size: 4rem;
    padding: 0.3rem 1rem;
    box-shadow: inset 0 0 20px lightsteelblue, 0 0 20px lightslategray;
}
/* profile edit */
.profile-edit-box{
    margin-bottom: 3rem;
    border-top: 2rem solid #0000001a !important;
    border-bottom: 2rem solid #0000001a !important;
}
.profile-edit-content{
    margin-bottom: 0;
    padding: 0;
}
.profile-edit-content li{
    padding: 0.3rem 1rem;
    margin:  0.2rem 0;
    font-weight: 600;
    color: gray;
}
.profile-edit-content li.active{
    color: blue;
    font-weight: 600;
}
.profile-edit-content i{
    color: gray;
}
.profile-edit-content li:hover {
    background-color: rgb(0, 0, 255);
    color: white;
}
.profile-edit-content li:hover i{
    color: white;
}
.profile-edit-section{
    height: 23rem !important;
    overflow-y: auto;
}
.profile-edit-box button{
    width: 100%;
}
@media (max-width:990px) {
    .profile-edit-content{
        display: flex;
        width: 100% !important;
        overflow-x: auto;
    }
    .profile-edit-section{
        padding: 0.5rem 0;
        border-top: 0 !important;
    }
}
.profile-edit-content::-webkit-scrollbar{
    display: none;
}
/* posted job header */
.job-post-img{
    height: 23rem !important;
    width: 100%;
}
.position-relative{
    display: flex;
}
.btn-profile-image-edit {
    display: flex;
    height: fit-content;
    margin: 0.9rem 0 0 -2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.user-profile-image {
    cursor: pointer;
    border: 1px solid rgb(161, 159, 159);
    width: 13rem;
}

.position-relative:hover .btn-profile-image-edit {
    opacity: 1 !important;
}

/*---------------- header modefied---------- */
@media (max-width: 720px) {
    .container-fluids{
        height: 3rem;
        padding: 0.4rem 0.5rem;
    }
    .sidebar-btn{
        height: 2rem;
        width: 2rem;
        font-size: 0.8rem;
        margin-right: 0.4rem;
    }
    .navbar-brand-content{
        display: flex;
        align-items: center;
        font-size: 1.4rem !important;
    }
    .navbar-brand-content i{
        font-size: 1.4rem;
    }
    .header-input-group{
        height: 2rem;
        margin: 0 0.3rem 0 0;
    }
    .input-reset-btn{
        display: none;
    }
    .new-posts{
        font-size: 1rem !important;
        padding: 0.18rem 0.4rem !important;
    }
    #user-image{
        height: 2rem;
        width: 2rem;
    }
    #notification-box{
        height: 1rem;
        width: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .job-post-img{
        height: 15rem !important;
    }
    .post-box{
        padding: 1rem !important;
    }
    .user-profile-container{
        position: absolute;
        top: 2.5rem;
        right: 1.5rem;
        overflow: auto !important;
        z-index: 150;
    }
}
@media (max-width: 500px) {
    .container-fluids{
        height: 3rem;
    }
    .sidebar-btn{
        height: 1.8rem;
        width: 1.8rem;
        font-size: 0.8rem;
        margin-right: 0.4rem;
    }
    .navbar-brand-content{
        display: flex;
        align-items: center;
        font-size: 1.2rem !important;
    }
    .navbar-brand-content i{
        font-size: 1.2rem;
    }
    .header-input-group{
        height: 1.8rem;
        margin: 0 0.3rem 0 0;
    }
    .input-reset-btn{
        display: none;
    }
    .input-search-btn{
        padding: 0.2rem;
    }
    .new-posts{
        font-size: 0.9rem !important; 
        padding: 0.2rem 0.2rem !important;
    }
    #user-image{
        object-fit: contain;
        height: 2rem;
        width: 2rem;
    }
    #notification-box{
        height: 1rem;
        width: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .job-post-img{
        height: 12rem !important;
    }
    .post-box{
        padding: 1rem 0.5rem !important;
    }
    .user-profile-container{
        position: absolute;
        top: 2.5rem;
        right: 1.5rem;
        overflow: auto !important;
        z-index: 150;
    }
}

/* edit upser profile contents */
.user-profile-edit-containers{
    height: fit-content;
}
.user-profile-edit-containers input, .user-profile-edit-containers span, .user-profile-edit-containers textarea{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
}
.user-profile-edit-containers:hover{
    box-shadow: 0 0 15px #c5c5c5, inset 0 0 70px #ffe9e97a;
    cursor: pointer;
}
.search-user-image{
    object-fit: contain;
    height: 10rem;
    width: 10rem;
    border: 2px solid #ffa07a30;
    background: #8080801f;
    box-shadow: 0 0 10px;
}

.post-not-found-box{
    animation: rotatebox 2s ease-in-out 2 forwards;
}
@keyframes rotatebox {
    0%{
        rotate: 5deg;
    }30%{
        rotate: 10deg;
    }50%{
        rotate: -10deg;
    }70%{
        rotate: 5deg;
    }100%{
        rotate: 0deg;
    }
}